<div class="col-12 order-1">

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="text-center">
                <i class="h1 mdi mdi-comment-multiple-outline text-muted"></i>
                <h3 class="mb-3">Frequently Asked Questions</h3>
                <button class="btn btn-blue waves-effect waves-light mt-2 collapsed" type="button"
                    data-toggle="collapse" data-target="#collapseNewHelper" aria-expanded="false"
                    aria-controls="collapseNewHelper">
                    <i class="mdi mdi-book-plus-multiple-outline mr-1"></i>
                    Add new question
                </button>
            </div>
        </div>

        <div class="col-11 col-md-10 col-lg-9 col-xl-8 pt-2">
            <div class="collapse card" id="collapseNewHelper">
                <form action="/f/a/c/dashboard/create/helper" method="POST" class="card-body bg-pattern bg-dark rounded">

                    <div class="form-group mb-3">
                        <label for="inputQuestion" class="text-light">Question</label>
                        <input type="text" id="inputQuestion" name="question" class="form-control">
                    </div>

                    <div class="form-group mb-3">
                        <label for="response-question-textarea" class="text-light">Response</label>
                        <textarea class="form-control" name="response" id="response-question-textarea" rows="5"></textarea>
                    </div>

                    <button type="submit" class="btn btn-success float-right m-1">
                        Save question
                    </button>
                    <button class="btn btn-danger waves-effect waves-light collapsed float-right m-1" type="button"
                        data-toggle="collapse" data-target="#collapseNewHelper" aria-expanded="false"
                        aria-controls="collapseNewHelper">
                        Cancel
                    </button>

                </form>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-11 col-md-10 col-lg-9 col-xl-8 m-0">
            <div class="accordion custom-accordion bg-white rounded shadow-lg" id="custom-accordion-one">

            {{#each helpers}}

            <form action="/f/a/c/dashboard/update/helper" method="POST" class="card m-0">
                <input type="hidden" name="reference" value="{{_id}}">
                <a class="card-header custom-accordion-title collapsed position-relative text-light bg-blue"
                    id="heading{{_id}}" href="#collapse{{_id}}"
                    data-toggle="collapse" aria-expanded="true" aria-controls="collapse{{_id}}">
                    <i class="mdi mdi-help-network"></i>
                    &nbsp;
                    {{question}}
                    <i class="mdi mdi-chevron-down accordion-arrow mr-2"></i>
                </a>
                <div class="collapse py-3 px-3" id="collapse{{_id}}"
                    aria-labelledby="heading{{_id}}" data-parent="#custom-accordion-one">

                    <div class="form-group">
                        <label for="title-{{_id}}" class="h5 text-muted">QUESTION:</label>
                        <input type="hidden" name="question" value="{{question}}"
                            data-input-reference="title-{{_id}}">
                        <div id="title-{{_id}}" class="form-control" contenteditable="true"
                            data-reference="title-{{_id}}" data-crl="helperTitle">
                            {{question}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="response-{{_id}}" class="h5 text-muted">RESPONSE:</label>
                        <input type="hidden" name="response" value="{{answer}}"
                            data-input-reference="response-{{_id}}">
                        <pre id="response-{{_id}}" class="form-control overflow-auto text-dark" contenteditable="true"
                            data-crl="helperResponse" data-reference="response-{{_id}}"
                            style="height: 140px;">{{#formatText answer}}{{response}}{{/formatText}}</pre>
                    </div>

                    <div class="form-group">

                        <button type="button" class="btn btn-danger waves-effect waves-light"
                            data-crl="deleteHelper" value="{{_id}}">
                            <i class="mdi mdi-trash-can"></i>
                            Delete
                        </button>
                        <button type="submit" class="btn btn-success waves-effect waves-dark"
                            disabled="true" data-submit-reference="response-{{_id}}">
                            Save changes
                        </button>

                    </div>

                </div>
            </form>

            {{/each}}

            </div>

        </div>
    </div>

</div>